<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FServlet</servlet-name>
        <servlet-class>loginpage.FServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tservlet</servlet-name>
        <servlet-class>loginpage.Tservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>loginpage.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dog</servlet-name>
        <servlet-class>loginpage.dog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Email</servlet-name>
        <servlet-class>loginpage.Email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change</servlet-name>
        <servlet-class>loginpage.change</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FServlet</servlet-name>
        <url-pattern>/FServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tservlet</servlet-name>
        <url-pattern>/Tservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dog</servlet-name>
        <url-pattern>/dog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Email</servlet-name>
        <url-pattern>/Email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
